@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* web font import */
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
/* Normalize Project */
/* margin 값이 0으로 초기화됨 */
@import url("fontello.css");

/* 숨김 제목 및 숨김 콘텐츠 */
.a11y-hidden,
legend {
    position: absolute;
    /* absolute로 지정하면 독립적인 블록으로 인식됨 */
    /* top: -9999px; */
    /* 이처럼 화면 밖으로 밀어버리는 기법은 초창기에 많이 쓰였지만, 현재는 접근성 측면에서 적절하지 않은 기법 */
    /* 스크린리더가 화면을 탐색하다가 해당 부분에서 갑자기 스크롤 바가 상단으로 휙 올라가버림 */
    width: 1px;
    height: 1px;
    /* width, height를 0으로 지정하면 가상 커서가 탐색할 수 있는 영역이 없어져버림 */
    /* font-size: 0;도 마찬가지로, 해당 text의 탐색 영역이 사라져버리므로, 보조기기 사용 시 해당 text 자체가 읽히지 않고 skip되는 문제가 있음 */
    /* 또한 이는 Google의 웹마스터 가이드라인을 위반하여 black hat을 유발하는 원인이 될 수 있음 */
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}
body *, body *::before, body *::after {
    /* content: ""; */
    box-sizing: border-box;
}
/* 'body 안에 있는' 모든 요소에 border-box 적용 */

html {
    font-size: 10px;
    
}
body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    /* 앞에 있는 건 'font'를 의미, 뒤에는 '글꼴군(generic family)'을 의미 */
    font-size: 1.4rem;
    /* root의 값을 기준으로 크기 지정 */
    /* 글자 크기를 유연하게 지정할 수 있음 */
    color: #181818;
    /* #000은 브라우저마다 색이 조금씩 다르게 보임 */
    background: url(./images/bg_flower.png) no-repeat 50% 0, #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
}
/* link style */
a {
    color: inherit;
    text-decoration: none;
    /* 링크 밑줄 제거하는 게 보편적 */
}

/* skip navigation */
.skip-nav a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #181818;
    color: #fff;
    text-align: center;
}
.skip-nav a:focus {
    height: auto;
    outline: 0;
    padding: 10px 0;
}

/* 이하 layout */
.header,
.visual,
.main,
.slogan, 
.footer-inner {
    width: 940px;
    margin: 0 auto;
}
.header {
    background: white;
    position: relative;
    border-radius: 0 0 15px 15px;
    /* border-radius: 0 0 50px 50px / 0 0 15px 15px; */
    /* 좌측 상단부터 시계방향 */
    /* x축 / y축 */
    padding: 0 30px;
}
.logo {
    position: absolute;
    top: 33px;
    left: 65px;
}
/* 안내 링크 목록 */
.member {
    list-style: none;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    /* tab키로 탐색 시 outline 표시될 영역 2px씩 남겨두기 */
    margin: 0;
    text-align: right;
}
.member li {
    display: inline-block;   
}
.member a {
    display: inline-block;
    padding: 6px 0;
    /* 사용자가 터치할 수 있는 하이퍼링크의 영역이 늘어나므로 사용자 편의성 증가 */
}
/* 이하 navigation */
.navigation {
    padding-bottom: 40px;
}
.menu {
    background: linear-gradient(to bottom, #e2984d 0%,#f24029 50%,#f24029 51%,#e2984d 100%);
    border-top: 2px solid currentColor;
    margin: 10px 0 0 0;
    padding-left: 220px;
    list-style: none;
    height: 47px;
    border-radius: 0 0 5px 5px;

    /* display: flex;
    align-items: center; */
}
.menu-item {
    float: left;
    position: relative;
    /* 각 sub-menu들은 menu-item들 중 '각자의 부모 요소'를 기준으로 배치됨 */
}
.menu-button {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
    /* line-height trick */
    /* text 줄의 높이를 height와 동일하게 지정하면 컨텐츠가 수직 정렬되는 것처럼 보임 */
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .5);
    /* border-bottom: 2px solid #000; */
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    margin: 0;
    padding: 0 18px;
    display: block;
}
.menu-act .menu-button::after {
    content: "";
    display: block;
    border-top: 2px solid #000;
}
.menu-button:hover, 
.menu-button:active, 
.menu-button:focus {
    color: #ff0;
}
/* 이하 sub-menu */
.sub-menu {
    margin: 0;
    padding-left: 0;
    list-style: none;

    position: absolute;
    top: 47px;
    /* left: 0; */

    display: none;
    white-space: nowrap;
}
.menu-act .sub-menu {
    display: block;
}
.sub-menu li {
    display: inline-block;
    
}
.sub-menu a {
    display: inline-block;
    padding: 8px 0;
    margin-right: 10px;
}
.sub-menu a::before {
    content: '\f192';
    font-family: 'fontello';
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
    content: '\e800';
}
.sub-menu1 {
    left: 0;
}
.sub-menu2 {
    left: 0;
}
.sub-menu3 {
    left: 0;
}
.sub-menu4 {
    right: 0;
}
.sub-menu5 {
    right: 0;
}
.sub-menu6 {
    right: 0;
}
.menu-act .sub-menu {
    /* display: block; */
}
/* text 및 background animation - visual */
@keyframes textAni {
    /* from{} */
    /* to{} */
    0%{
        /* 글자 크기 변화 */
        font-size: 12px;

        /* 투명도 변화 */
        color: rgba(0, 0, 0, 0);
        /* opacity: 0; */
        
        /* 이동 효과 */
        /* 방법1 */
        /* padding-top: 0; */
        /* padding-left: 0; */
        /* 방법2 */
        /* top: 0; */
        /* left: 0; */
        /* 방법3 */
        transform: translate(0, 0);
    }
    100%{
        /* 글자 크기 변화 */
        font-size: 24px;

        /* 투명도 변화 */
        color: rgba(0, 0, 0, 1);
        /* opacity: 1; */

        /* 이동 효과 */
        /* 방법1 */
        /* padding-top: 75px; */
        /* padding-left: 400px; */
        /* 방법2 */
        /* top: 75px; */
        /* left: 400px; */
        /* 방법3 */
        transform: translate(400px, 75px);
    }
}
@keyframes bgAni {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.visual {
    position: relative;
    height: 120px;
    /* 이처럼 height가 늘어날 가능성이 없는 요소에만 height 값 지정해서 fix시키면 됨 */
}
.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.visual::before {
    background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
    animation-name: bgAni;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.visual::after {
    background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-name: bgAni;
    animation-duration: 1500ms;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.visual-text {
    /* position: absolute; */
    /* 이동 효과 방법2 쓸 때 위 선언 필요 */
    margin: 0;
    animation-name: textAni;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
}
.main {
    background: #fff;
    /* display: flex;
    flex-flow: row nowrap;
    padding: 30px 0;
    justify-content: space-between; */
    padding: 30px 15px;
    overflow: hidden;
    min-height: 450px;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
}
.group {
    margin: 0 15px;
    float: left;
}
/* .clearfix::after {
    content: "";
    clear: both;
    display: block;
} */
.group1 {
    width: 250px;
}
.group2 {
    width: 380px;
}
.group3 {
    width: 190px;
}
/* login */
.login {
    background: radial-gradient(circle at right top, #e2984d, #f24029);
    /* 우상단부터 gradient 시작 */
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #aaa;
    padding: 15px 10px;
}
.login-heading {
    margin: 0;
    color: #ff0;
    font-size: 1.6rem;
    font-weight: 700;
    text-indent: 10px;
}
.login-form {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}
.login-form fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    position: relative;
}

.user-email * {
    vertical-align: middle;
}
/* vertical-align은 text-align과 달리, inline 요소에 직접 선언하는 속성이기 때문에 .user-email 내의 모든 요소에 선언하기 위해 전체 선택자를 사용함 */

.login-form label {
    display: inline-block;
    width: 4em;
}
.login-form input {
    width: 95px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 1px 1px 1px 0.5em;
}
.btn-login {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    border-radius: 3px;
    border: 0;
    background-color: #f36010;
    color: #fff;
    position: absolute;
    top: 1.5px;
    right: -2px;
    /* right 기준 좌표는 과거에는 버그가 많았음 */
    font-size: 12px;
}

.user-email *,
.user-pw * {
    vertical-align: middle;
}
.user-email,
.user-pw {
    margin-bottom: 5px;
}


.login-member {
    background: #fff;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    
    /* 회원가입과 아이디비번찾기가 한줄에 오도록 */
    
    /* white-space: nowrap; */
    /* icon도 text 요소이므로 white-space 적용됨 */
    /* 하지만 그리드 상 간격이 안맞으므로 여기선 다른 방법을 사용하기로 함 */
    letter-spacing: -1px;
    justify-content: space-between;
    text-indent: -3px;
    font-size: 13px;
}
.login-member a {
    display: block;
    /* 아니면 그냥 inline-block으로 지정해도 됨 */
    padding: 8px 0;
}
/* 위 a 태그에 block 속성을 부여한 경우 아래처럼 선언해줘야 원하는대로 정렬이 됨 */
/* inline-block으로 지정한 경우에는 쓸 필요 없음 */
.login-member li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.login-member .icon-right-open {
    color: #f36010;
}

/* 유효성 검사 배너 */
.validation-list {
    margin: 25px 0 0 0;
    list-style-type: none;
    padding-left: 0;
}
.validation-list a {
    border-radius: 20px;
    border: 1px solid #aaa;
    background: url(./images/validation_icon.png) 15px 50% / 20px 20px no-repeat, linear-gradient(to top, #eee, #ccc);
    /* 그라디언트 효과를 background image보다 뒤에 주고 싶기 때문에 더 나중에 작성 */
    padding: 7px 10px 8px 40px;
    display: block;
    margin-top: 12px;
    height: 32px;
}
.validation-list a:hover, 
.validation-list a:focus {
    color: #f24029;
}

/* term */
.term {
    width: 248px;
    height: 250px;
    background: linear-gradient(to top, #eee, #ccc);
    /* background: linear-gradient(#ccc, #eee); */
    /* 시작 지점, 끝 지점 선언 안해도 됨 */
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    /* 각 contents section 사이의 간격은 20px 정도가 적당함 */
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.term h2 {
    font-size: 1.5rem;
    font-weight: 700;
    /* h2 기본값이 bold이긴 하지만 명시적 값으로 선언해두기 */
    margin: 0 0 0 5px;
  }
.term-list {
    float: right;
    padding-left: 0;
    margin: 15px 0 0 0;
 }
.clearfix {
    margin-left: 0;
}
.term-div:nth-child(odd) dt {
    float: right;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(10, 90, 160, 1);
    display: inline-block;
    margin-bottom: 5px;
    width: 147px;
    line-height: 1;
 }
 .term-div:nth-child(even) dt {
    float: left;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(10, 90, 160, 1);
    display: inline-block;
    margin-bottom: 5px;
    width: 147px;
    line-height: 1;
    margin-left: 3px;
 }
 .term-div:nth-child(odd) .term-list-thumbnail {
     float: left;
     margin-left: 5px;
     margin-right: 0;
 }
 .term-div:nth-child(even) .term-list-thumbnail {
    float: right;
    margin-left: 0;
    margin-right: 5px;
}
.term-div:nth-child(odd) .term-list-thumbnail img
.term-div:nth-child(even) .term-list-thumbnail img {
     display: block;
 }
.term-div:nth-child(odd) .term-list-brief {
     margin-left: 0;
     margin-right: 0;
     float: right;
     width: 145px;
     height: 70px;
     font-size: 1.4rem;
 }
 .term-div:nth-child(even) .term-list-brief {
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 145px;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 1.5;
    margin-left: 5px;
}

/* #search form */
.search-form {
    background: #ccc linear-gradient(to top, #eee, #ccc);
    /* 호환성 issue가 있을 수 있으므로 맨 앞에 #ccc도 선언 */
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #fff;
    /* border: 1px solid #aaa */
    /* border-bottom-color: #fff; */
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px;
}
.search-form fieldset {
    border: 0;
    /* display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* height: 50px; */
    padding: 0;
    margin: 0;
}
/* 실무에서는 form이나 fieldset에 직접 디자인하지 않음 */
/* fieldset에 display: flex; 선언하면 크롬에서 인식 안되는 버그 발생 가능 */
/* 이러한 버그를 방지하려면 fieldset이 아닌 div 등으로 flex items를 wrapping해야 함 */
.search-form-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-form label,
.search-form-container input[name="search"] {
    margin-right: 5px;
}
.search-form label {
    font-size: 1.4rem;
}
.search-form-container input[name="search"] {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 0.5em;
    height: 22px;
    width: 180px;
}
.btn-search {
    color: #fff;
    background-color: #181818;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 0 10px;
}

/* tab board */
/* 드러내기 */
.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more {
    display: block;
}
/* 감추기 */
.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.board {
    position: relative;
    /* height: 240px; */
    /* float 해제를 위해 height 값 강제 할당 */
    margin-top: 20px;
}
.tab {
    /* float: left; */
    margin: 0;
    position: absolute;
    top: 0;
}
.is-active .tab {
    z-index: 5;
}
.notice-heading {
    left: 0px;
}
.pds-heading {
    left: 73px;
}
.tab a {
    display: block;
    border-radius: 4px 4px 0 0;
    border: 1px solid #aaa;
    background: #ccc linear-gradient(to top, #ccc, #aaa);
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 10px;
}
.is-active .tab a {
    color: #f24029;
    border-color: #f24029 #f24029 #fff #f24029;
    background: #fff;
}
.notice-list,
.pds-list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-top: 45px;
    /* position: absolute;
    left: 0;
    top: 45px; */
    min-height: 185px;
    background: #fff;
}
section .notice {
}

.notice-list li,
.pds-list li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

}
.notice-list li>a,
.pds-list li>a {
    /* flex-grow: 1; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
}
.notice-more,
.pds-more {
    position: absolute;
    right: -8px;
    top: -8px;
    padding: 8px;
    /* 사용자 환경 측면에서, 터치 가능 영역 늘리기 위해 padding 값 추가 */
    /* 해당 a 태그에 position 지정하며 블록 요소의 속성을 가지게 되었으므로 padding 값 지정이 가능함 */
}
.notice-more::before,
.pds-more::before {
    color: hsla(110, 50%, 30%, 1);
}

/* news */

/* .news {
    background-color: yellow;
    margin-top: 20px;
    position: relative;
}
.news h2 {
    background-color: yellowgreen;
}
.news-article {
    background-color: dodgerblue;
    height: 160px;
}
.news-article-link {
    background-color: pink;
    display: block;
}
.news-article-subject {
    background-color: firebrick;
    float: right;
    width: 240px;
    margin: 20px 0 0 0;
    line-height: 1.5;
}
.news-article-date {
    background-color: seagreen;
    float: right;
    width: 240px;
    margin: 0;
    line-height: 1.5;
}
.news-article-brief {
    background-color: skyblue;
    float: right;
    width: 240px;
    margin: 0;
    padding-top: 10px;
    line-height: 1.5;
}
.news-article-thumbnail {
    background-color: springgreen;
    margin: 20px 0 0 0;
    padding: 0 15px 33px 13px;
    position: absolute;
    text-align: center;
}
.news-article-thumbnail img {
    margin: 0;
    box-shadow: 1px 13px 15px rgba(0, 0, 0, .3);
    display: inline-block;
    margin-bottom: 20px;
}
.news-more {
    background-color: tomato;
    position: absolute;
    right: -8px;
    top: -8px;
    padding: 8px;
} */

.news {
    margin-top: 20px;
    position: relative;
}
.news::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc linear-gradient(to right, #ccc, #fff);
}
.news h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ed702d;
    margin: 0;
}
.news-article {
    margin-top: 40px;
}
.news-article-link {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'thumbnail subject'
    'thumbnail date'
    'thumbnail brief';
}
.news-article-subject {
    margin: 0 0 5px 0;
    /* grid-area: 1 / 2; */
    grid-area: subject;
    font-size: 1.5rem;
}
.news-article-date {
    margin: 0;
    /* grid-area: 2 / 2; */
    grid-area: date;
}
.news-article-brief {
    margin: 10px 0 0;
    /* grid-area: 3 / 2; */
    grid-area: brief;
    line-height: 1.5;
}
.news-article-thumbnail {
    margin: 0;
    /* grid-area: 1 / 1 / 4 / 2; */
    grid-area: thumbnail;
    /* text-align: center; */
}
.news-article-thumbnail figcaption {
    margin-right: 18px;
    text-align: center;
}
.news-article-thumbnail img {
    margin: 0;
    box-shadow: 1px 13px 15px 0 rgba(0, 0, 0, .3);
    display: inline-block;
    margin-bottom: 20px;
}
.news-more {
    position: absolute;
    right: -8px;
    top: -8px;
    padding: 8px;
}
.news-more::before {
    color: hsla(110, 50%, 30%, 1);
}

/* event and related site */
.gradient-box {
    background: #ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
  }
.point-color {
    color: #ed702d;
}
.event-heading,
.related-heading,
.favorite-heading {
    font-size: 1.6rem;
    font-weight: 700;
    /* h2 기본값이 bold이긴 하지만 명시적 값으로 선언해두기 */
    margin: 0;
}
.event {
    position: relative;
}
.event::after {
    content: "";
    display: block;
    width: 167px;
    height: 1px;
    background-color: #aaa;
    margin-bottom: 10px;
}
div #eventDetail {
    display: flex;
    flex-flow: column wrap;
}
.event-thumbnail img {
    border: 1px solid #aaa;
    box-shadow: 5px 5px 0 0 #aaa;
}
.event-brief {
    margin: 2px 0 12px;
    display: inline-block;
    width: 180px;
    line-height: 1.5;
}
.event-brief em {
    font-style: normal;
}
.btn-event {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    /* height: 18px; */
}
.btn-prev, 
.btn-next {
    width: 18px;
    cursor: pointer;
    border: none;
    /* padding trick */
    padding: 18px 0 0 0;
    overflow: hidden;
    height: 0;
    /* padding trick */
}
.btn-event .btn-prev {
    background-image: url(./images/back_forward.png);
}
.btn-event .btn-next {
    background-image: url(./images/back_forward.png);
    background-position: 18px 0;
}
.related-list {
    list-style: none;
    padding: 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 3rem;
    overflow: hidden;
    transition-property: height padding;
    transition-timing-function: linear;
    transition-duration: .3s;
    /* transition: height .3s, padding .3s .3s; */
    margin-bottom: 0;
}
/* .related-list li {
    padding: 3px 15px 2px 5px;
} */
.related-list li a {
    display: block;
    width: 100%;
    padding: 0 12px;
    line-height: 25px;
}
.related-list:hover,
.related-list:focus {
    height: 147px;
    padding: 10px 0;
}
/* .related-list:focus 부분은 기능 상 별로 필요하진 않음 */

/* favorite sites */
.favorite {
    position: relative;
    margin-top: 20px;
}
.favorite-list {
    margin: 10px 0 0;
    padding-left: 0;
    list-style: none;

    counter-reset: listCounter;
}

.favorite-list li {
    margin-top: 8px;
    counter-increment: listCounter;
    /* 이하 flex 배치 */
    /* display: flex;
    justify-content: space-between; */
    
    position: relative;
}
.favorite-list li a {
    /* 이하 flex 배치 */
    /* margin-right: auto; */
    /* 링크 영역 자체를 늘리고 싶다면 아래 코드 선언 */
    /* margin-right: 5px; */
    /* flex-grow: 1; */
    display: block;
    margin: 0 10px 0 20px;
}
.favorite-list li em {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
}
.favorite-list li::before {
    position: absolute;
    left: 0;
    top: 0;

    content: counter(listCounter);
    display: inline-block;
    width: 15px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
    margin-right: 5px;
    background-color: #999;
    border-radius: 3px;
}
/*
.favorite-list li:nth-child(1)::before {
    content: "1";
}
.favorite-list li:nth-child(2)::before {
    content: "2";
}
.favorite-list li:nth-child(3)::before {
    content: "3";
}
.favorite-list li:nth-child(4)::before {
    content: "4";
}
*/
.up, 
.down, 
.stop {
    display: inline-block;
    font-style: normal;
    /* em 태그로 wrapping 했으므로 font-style 초기화 */
    width: 9px;
    background-image: url(./images/rank.png);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 11px 0 0 0;
    height: 0;
    /* 이렇게 padding trick을 사용할 때, height 값은 padding 값과 동일하게 주어도 무관함 */
}
.up {
    background-position: top;
    /* background-position: 0 top; */
    /* background-position: 0%; */
    /* background-position: 0 0%; */
}
.down {
    background-position: bottom;
    /* background-position: 0 bottom; */
    /* background-position: 100%; */
    /* background-position: 0 100%; */
}
.stop {
    background-position: center;
    /* background-position: 0 center; */
    /* background-position: 50%; */
    /* background-position: 0 50%; */
}

.favorite-more {
    position: absolute;
    right: 2px;
    top: 3px;
    padding: 8px;
}
.favorite-more::before {
    color: hsla(110, 50%, 30%, 1);
}

/* slogan */
.slogan {
    position: relative;
    padding: 0 70px 10px 180px;
    margin-top: 30px;
}
.slogan-heading {
    width: 110px;
    height: 83px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    line-height: 83px;
    position: absolute;
    left: 35px;
    bottom: -25px;
}
.slogan-heading::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: url(./images/coffee.png);
    background-repeat: no-repeat;
}
.slogan-brief {
    display: inline-block;
    width: 750px;
    margin: 0;
    line-height: 2;
    padding-right: 80px;
    color: #a0978a;
}
.slogan-brief q::before {
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    vertical-align: bottom;
}
.slogan-brief q::after {
    content: "";
}

/* footer */
.footer {
    background: #ccc linear-gradient(#ccc 0%, #eee 35%, #fff 60%, #fff 100%);
    width: 100%;
}
.footer-inner {
    padding: 15px 70px 15px 180px;
    position: relative;
    padding-right: 100px;
}
/* footer logo */
.footer-logo {
    position: absolute;
    top: 25px;
    left: 43px;
}
/* guide link list */
.guide-list {
    margin: 0;
    padding: 2px 0 0 17px;
    list-style: none;
    background-color: #7b8385;
    color: #fff;
    overflow: hidden;
    border-radius: 10px;
}
.guide-list li {
    float: left;
    text-transform: uppercase;
}
.guide-list li a {
    display: inline-block;
    padding: 11px 7px;
    margin: 0 10px;
}
/* address, copyright */
.address {
    font-style: normal;
    margin-top: 10px;
}
.address span {
    margin-right: 10px;
}
.copyright {
    font-size: 1.4rem;
    line-height: 2;
}

/* HTML & CSS3 logo */
.badge {
    position: absolute;
    top: 15px;
    right: 0;
}